@model Customers.Models.CustomerType

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف</h1>

<h3>هل أنت متأكد من الحذف؟</h3>
<div>
    <h4>أنواع العملاء</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insert_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insert_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Machine_IP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Machine_IP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Machine_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Machine_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_ID_Update)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_ID_Update)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Update_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Update_Date)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">رجوع</a>
    </form>
</div>
